* {
    margin: 0px;
    padding: 0px;
}

html, body {
    color: #333;
    font-size: 16px;
    line-height: 1.8;
}

h1 {
    font-size: 180%;
}

section {
    padding-bottom: 1rem;
}
section > form {
    padding-left: 1rem;
}

ol#entry_type_group {
    margin-bottom: 0.5rem;
}
ol#entry_type_group li {
    list-style-type: none;
}

label {
    display: block;
}
label.inline {
    display: inline;
}

#entry_spec {
    margin-bottom: 1rem;
}
#entry_spec div {
    margin-bottom: 0.5rem;
}
.entry_spec_url {
    display: none;
}

.dangerous {
    color: #BD2727;
}
.warning {
    color: #E79E27;
}

#whitelist_entries {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border: 1px solid #333;
}
#whitelist_entries caption {
    text-align: center;
    font-size: 150%;
}
#whitelist_entries thead {
    background-color: #d2d2d2;
}
#whitelist_entries td, th {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #000;
}
#whitelist_entries tr.entry:hover {
    background-color: #f2f2f2;
}
