* {
    margin: 0px;
    padding: 0px;
}

html, body {
    color: #333;
    font-size: 16px;
    line-height: 1.8;
}

h1 {
    font-size: 180%;
}

section {
    padding-bottom: 1rem;
}
section > form {
    padding-left: 1rem;
}

label {
    display: block;
}
label.entrySpecDomain {
    display: inline-block;
    margin-right: 1rem;
}

.dangerous {
    color: #BD2727;
}

#spec, #schemasLabel {
    margin-bottom: 1rem;
}

#whitelist_entries {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border: 1px solid #333;
}
#whitelist_entries caption {
    text-align: center;
    font-size: 150%;
}
#whitelist_entries thead {
    background-color: #d2d2d2;
}
#whitelist_entries td, th {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #000;
}
#whitelist_entries tr.entry:hover {
    background-color: #f2f2f2;
}
